{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "brace-style": 2,
    "class-methods-use-this":"off",
    "arrow-body-style":"off"
  }
}