<app-content .title=${this.title}>
    <blockquote>
        Write in plain HTML, CSS and Javascript without memorising framework concept during initial development to
        achieve fastest and best possible development experience.
    </blockquote>
    <p>
        The Major moto is to welcome all developers who knows HTML, CSS and JavaScript and doesn't know a lot about
        frameworks. We are taking back to old days with a pinch of 2 way binding on scope. Stop worrying about redudant
        declation, writing convention and focus on what you know about basic HTML, JavaScript and CSS.
    </p>
    <p>
        Since 2010 I have been working on web technologies. I started with jQuery and had no clue of core JavaScript is.
        To be honest I hated JavaScript for its condensed syntax. I was more into PHP and C# for syntax. However purely
        working on ES6 Format made JavaScript grow on me.
    </p>
    <p>
        Inital burst on frameworks like AngularJS was fine introduction to frontend development. With further
        developement of framework like TypeScript based Angular, Ionic and stencils; JSX based React and Vue base VueJS,
        the competition became stiff. Moreover the community made noise on new technolgy like browser supported Web
        Components got totally ignored as ReactJS became most dominant framework.
    </p>
    <p>
        Frontend development has diverged a lot from base HTML, CSS and JavaScript coding such that it is taking a mind
        bending effort to
        reconcile the original HTML/CSS/Javascript while developing over JSX/TS/VUE. I have began web development long
        before these frameworks began.
    </p>

    <blockquote>At end of the day, whatever advanced JS framework transpiler that you use, it
        will be ultimately be compiled in basic HTML, CSS and JavaScript. So why be bothered with learn so many
        rules of ES6, OOPS and transpiles to build a website.
    </blockquote>

    <p>
        The frameworks are like additive suppliment to the web developement process and not the main course. However,
        the market has badly exploited them either to get major projects by wooing clients or by young developers to
        demand insane salary hikes just because they know latest trending frameworks. Honestly, these developers have
        abandoned
        the CSS/HTML creativity and just concentrated on JS Framework inner workings (*cough* React *cough*) to crack a
        high profile interview. Whenever asked upon the native features of JavaScript, these developers are even not
        able to write a
        basic event dispatcher using Javascript.
    </p>

    <p>The rant will continue later.</p>
</app-content>