<app-content .title=${this.title}>
    <p>
        This is a welcome note to guide you with the advanced web component feature of current website. The website is
        construted in OOPS approach and EcmaScript Module feature supported by browser. However the development
        experience is entirely native.
    </p>
    <p>
        The development process is designed in a way that no prior knowledge of framework is required. No more
        memorising of framework related rules and stuff. All you need is good knowledge og HTML, CSS and JavaScript and
        a great logic (obviously).
    </p>
</app-content>