:host * {
  box-sizing: border-box;
}

nav,
nav ul,
nav ul>li>a {
  background-color: crimson;
}
nav {
  min-height: 50px;
  color: #fff;
  border-bottom: darkred;
  margin-bottom: 20px;
}

brand {
  font-size: 20px;
  line-height: 50px;
}

.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 15px;
  width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
  float: right;
}

ul>li {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
}

ul>li>a,
ul>li>a:hover {
  color: #fff;
  padding: 16px 12px;
  text-decoration: none;
}

ul>li>a.active,
ul>li>a:hover {
  background-color: darkred;
}